@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)) rgb(var(--background-end-rgb))
  );
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  background-color: #1976d2; /* Replace with the color you want */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
